.subTitle {
  font-family: Helvetica Neue;
  font-size: 18pt;
  color: #f92121;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 8px;
}

.serverStatus {
  padding: 30px 20px;
  border: 1px solid gray;
  width: 400px;
  font-family: Helvetica Neue;
  font-size: 36pt;
  font-weight: normal;
  overflow: auto;
}
